{
  "retainLines": true,
  "presets": [
    "env",
    "flow"
  ],
  "plugins": [
    "external-helpers",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "rewire"
  ]
}